@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&display=swap");

* {
  font-family: "Roboto Flex", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  box-sizing: border-box;
  list-style: none;
}
html {
  font-size: 10px;
  font-weight: 300;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

body {
  font-size: 1.6em;
  background: var(--bgPrimary);
  color: var(--fontSecondary);
}

#header {
  position: fixed;
  height: 12.5rem;
  background-image: linear-gradient(var(--bgDark), var(--bgSecondary));
  width: 100%;
}
#header .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  /* border-bottom: 0.1rem solid var(--borderPrimary); */
  padding: 0rem 2rem 0 2rem;
}
#header .top .profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#header .top .profile .avatar {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

#header .top .callStatus {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: var(--bgSecondary);
  padding: 0 2rem;
  filter: drop-shadow(0px 4px 4px rgba(8, 1, 1, 0.25));
  width: 70%;
  justify-content: center;
  clip-path: polygon(
    80% 6%,
    70% 15%,
    30% 15%,
    15% 5%,
    0% 25%,
    10% 45%,
    15% 75%,
    25% 90%,
    40% 95%,
    60% 95%,
    75% 91%,
    85% 80%,
    90% 45%,
    100% 25%
  );
}
