@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&display=swap");

* {
  font-family: "Roboto Flex", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  box-sizing: border-box;
  list-style: none;
}
html {
  font-size: 10px;
  font-weight: 300;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6em;
  background: var(--bgPrimary);
  color: var(--fontSecondary);
}

#header {
  position: fixed;
  height: 12rem;
  background-image: linear-gradient(var(--bgDark), var(--bgSecondary));
  width: 100%;
}
#header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  box-shadow: 0px -5px 30px 15px var(--borderPrimary);
  padding: 0rem 2rem 0 2rem;
}
#header .container .box {
  height: 100%;
  flex-grow: 1;
  flex-basis: 15%;
}
#header .container .box.left,
#header .container .box.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#header .container .profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#header .container .profile .avatar {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}
#header .container .left .skill,
#header .container .right .brand {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--brandColor);
}

#header .container .box.center {
  height: 100%;
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(var(--bgSecondary), var(--bgDark));
  padding: 0rem 5%;
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
  gap: 1rem;
}

#header .container .center .callStatus,
#header .container .center .widgetIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  height: 40%;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
}

.callStatus .status .count {
  font-size: 1.8rem;
  color: var(--brandColor);
  font-weight: 700;
}
.widgetIcons .iconItem {
  flex-basis: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.widgetIcons .iconItem .img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  transform: scale(1);
  cursor: pointer;
}
.widgetIcons .iconItem:hover .img {
  transform: scale(1.3);
}
