/* Medium device media query */
@media (max-width: 991px) {
  #header .container .box.center {
    gap: 0rem;
  }
  #header .callStatus,
  #header .widgetIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  #header .callStatus .status {
    text-align: center;
  }
  #header .callStatus .status .count {
    font-size: 1.4rem;
    font-weight: 700;
  }
}

/* Small device media query */

@media (max-width: 767px) {
  #header .container .box.center {
    gap: 0rem;
    flex-basis: 35%;
  }
  #header .callStatus {
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
    align-items: unset;
    align-content: center;
    justify-content: center;
  }
  #header .widgetIcons {
    height: 0%;
    clip-path: inset(0 0 100% 0);
  }
  /* headlineSection styles  */

  #headlineSection .headlines {
    height: 100%;
    flex-basis: 75%;
    flex-grow: 1;
    gap: 0rem;
    padding: 0 1rem;
    overflow: hidden;
    display: flex;
    align-items: unset;
    align-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
  }
}
/* Extra small device media query */
@media (max-width: 450px) {
  /* Header styles */
  #header {
    height: 9rem;
  }
  #header .container .box.center {
    display: none;
  }
  /* Main contentArea styles */
  #contentArea {
    display: block;
    height: calc(100vh - 12rem);
    position: absolute;
    top: 12rem;
    width: 100%;
  }
  /* headlineSection styles  */
  #headlineSection {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}
